.container-footer a{
    text-decoration: none;
    color: #D9ECFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
}
.container-footer .title{
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    color: #ffffff;
    padding-bottom: 50px;
}
.container-footer{
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-top: 94px;
}
.container-edujar{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.title-edujar{
    display: flex;

}
.title-edujar h2 , .title-edujar h1{
    font-size: 30px ;
    font-weight: 700;
    line-height: 35px;
    color: white;
}
.title-edujar h2 {
    color: #21B573;
}
.container-edujar p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D9ECFF;
}
.container-edujar h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #D9ECFF;
}
.quick-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.quick-links input{
    width: 250px;
    list-style: none;
    border: none;
    background-color: #21b57200;
    padding: 0 30px;
}
.quick-links button{
    width: 190px;
    height: 50px;
    background-color: #21B573;
    color: white;
    border: none;
    border-radius: 30px;
}
::placeholder{
    color: white;
}